:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}

/* Code above will be removed soonish */
.grid {
    display: inline-block;
    max-width: 100%;
    padding: 10px 5px;
}

/* Icon styling */
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.icon > img {
    max-width: 40px;
    max-height: 40px;
}

.icon > p {
    margin-top: 3px;
    font-size: 15px;
    color: white;
}

/* Window styling */
.window {
    position: absolute;
    top: 100px;
    left: 100px;
    height: 500px;
    max-height: 100vh;
    width: 720px;
    max-width: 100%;
    border: none;
    box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #dfdfdf,
        inset -2px -2px grey,
        inset 2px 2px #fff;
    background: silver;
    padding: 3px;
}

.window-bar {
    height: 22px;
    width: 100%;
    font-size: 15px;
    background: linear-gradient(90deg,navy,#1084d0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3px;
    color: white;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.window-bar > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.window-bar button {
    width: 16px;
    height: 16px;
    margin-bottom: 1px;
    border: none;
    background: silver;
    color: #000;
    box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #fff,
        inset -2px -2px grey,
        inset 2px 2px #dfdfdf;
    cursor: pointer;
}

.window > iframe {
    position: absolute;
    top: 30px;
    left: 5px;
    height: calc(100% - 35px);
    width: calc(100% - 10px);
}

.window-content {
    color: #050505;
}
