:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}

.btn {
    box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #fff,
        inset -2px -2px grey,
        inset 2px 2px #dfdfdf;
    border: none;
    color: black;
    background-color: silver;
    cursor: pointer;
    padding: 0 2px;
}

/* Code above will be removed soonish */
.grid {
    display: inline-block;
    max-width: 100%;
    padding: 10px 5px;
    height: calc(100vh - 28px);
}

/* Icon styling */
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.icon > img {
    max-width: 40px;
    max-height: 40px;
}

.icon > p {
    margin-top: 3px;
    font-size: 15px;
    color: white;
}

/* Window styling */
.window {
    position: absolute;
    top: 100px;
    left: 100px;
    height: 500px;
    max-height: 100vh;
    width: 720px;
    max-width: 100%;
    border: none;
    box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #dfdfdf,
        inset -2px -2px grey,
        inset 2px 2px #fff;
    background: silver;
    padding: 3px;
}

.window-bar {
    height: 22px;
    width: 100%;
    font-size: 15px;
    background-color: #858585;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3px;
    color: white;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.window-bar.focus {
    background: linear-gradient(90deg,navy,#1084d0);
    background-color: transparent;
}

.window-bar.focus:active {
    cursor: move;
}

.window-bar > div {
    display: flex;
    align-items: center;
    gap: 3px;
}

.window-bar button {
    width: 16px;
    height: 16px;
    margin-bottom: 1px;
}

.window iframe {
    position: absolute;
    top: 30px;
    left: 5px;
    height: calc(100% - 35px);
    width: calc(100% - 10px);
}

.window-content {
    color: #050505;
    height: calc(100% - 22px);
}

.taskbar {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    padding: 2px 2px 0 2px;
    background-color: silver;
    box-shadow:
        inset 0px 1px #dfdfdf,
        inset 0px 2px #fff;
    z-index: 20;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.taskbar-start-btn {
    width: 51px;
    height: 22px;
    padding: 1px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskbar-start-btn.active {
    box-shadow:
        inset -1px -1px #fff,
        inset 1px 1px #0a0a0a,
        inset -2px -2px #dfdfdf,
        inset 2px 2px grey;
}

.taskbar-start-btn.active img {
    border: 1px dotted black;
    margin: 1px 1px 0 0;
}

.taskbar-divider {
    box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #dfdfdf,
        inset -2px -2px grey,
        inset 2px 2px #fff;
    height: 22px;
    width: 2px;
    margin: 0px 2px;
}

.taskbar-tray {
    height: 22px;
    min-width: 59px;
    padding: 0 2px;
    margin: 0 2px;
    display: flex;
    align-items: center;
    color: #101010;
    font-size: 15px;
    box-shadow:
        1px 1px #dfdfdf,
        -1px -1px gray;
    position: relative;
}

.taskbar-tray p {
    margin-top: 2px;
}

.taskbar-spacer,
.taskbar-open-apps {
    flex-grow: 1;
    max-width: calc(100% - 110px);
}

.taskbar-open-apps {
    display: flex;
    align-items: center;
    max-width: calc(100% - 110px);
    overflow: hidden;
    gap: 4px;
}

.taskbar-open-apps > div {
    height: 22px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 3px;
    padding: 0 5px;
}

.taskbar-open-apps > div.focus {
    box-shadow:
        inset -1px -1px #fff,
        inset 1px 1px #0a0a0a,
        inset -2px -2px #dfdfdf,
        inset 2px 2px grey;
    background-image: url(/icons/selected.png);
}

.taskbar-open-apps > div > img {
    max-width: 15px;
    max-height: 15px;
    margin-top: -1px;
}

.taskbar-open-apps > div > p {
    font-size: 13px;
    margin-top: 2px;
}

.start-menu {
    width: 180px;
    min-height: 100px;
    position: fixed;
    bottom: 26px;
    left: 0;
    background-color: silver;
    box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #dfdfdf,
        inset -2px -2px grey,
        inset 2px 2px #fff;
    display: flex;
    padding: 2px;
}

.start-menu-header {
    width: 22px;
    background: linear-gradient(0deg,#1084d0, navy);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5px;
}

.start-menu-header p {
    height: 22px;
    transform: rotate(270deg);
}

.start-menu-content {
    width: 100%;
}

.start-menu-item {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #111;
    font-size: 15px;
    cursor: pointer;
}

.start-menu-item:hover {
    background-color: navy;
    color: white;
}

.start-menu-item img {
    width: 100%;
    max-width: 35px;
    max-height: 35px;
}

.start-menu-item img.sm {
    padding: 5px;
}

.start-menu-sep {
    border-bottom: 1px solid white;
    border-top: 1px solid gray;
    margin: 2px 2px;
}
